* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090A;
  color: white;


  height: 100vh;
}
button{
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8B5CF6 ;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family:'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  background-color: #09090A;
  position: fixed;
  width: 100%;
}
form{
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
   
} 
.days{
  display: flex;
  gap: 48px;
  margin-left: 32px;
}
.day{
  display: flex;
  flex-direction: column;
  gap:24px
}

.day div{
  margin-bottom: 8px;
  font-family: 'Roboto mono', monospace;
  font-size: 20px;
  line-height: 125%;
  color: #A1A1AA;
  text-align: center;
}

.habits{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 24px;
}

.habit{
  width: 64px;
  height: 64px;

  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  appearance: none;
  -webkit-appearance: none;
  height:64px ;
  width: 64px;
  border: 2px solid #27272A;
  border-radius: 8px;
  background-color:#18181B ;
}
input:checked{
  background: #8B5CF6;
  border: 2px solid #A78bFA;
}

@media(max-width:570px){
button div{
  display: none;
}
}